---
import Login from "../components/Login.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <main class="min-h-screen min-w-full flex items-center justify-center">
        <Login />
    </main>
</Layout>
<style></style>
